<div class="col-3">
	<div class="card active">
		<div class="card-header" align-items="center">
			<h6 class="float-left" vertical-align="baseline">{{data.name}} - {{data.code}}{{data.instance}}</h6>
			<div class="float-right">
				<button class="example-icon" (click)="onAddButtonClick(data)">Add</button>
        <button class="example-icon">Delete</button>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">Some quick example text</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<!-- <ng-content></ng-content> -->