button{
  border-radius: 5px;
}

.card-text{
  word-wrap: break-word;
}

.card-header {
  /* width: 100%;
  margin: 10px; */
  border-left: 5px solid;
}

.check{
  overflow: auto;
  white-space: nowrap;
}

.example-icon {
  /* padding: 0 10px; */
  margin: 5px;
}

.form{
  width: 100%;
  padding: 5px;
}

.card {
  /* background-color: silver; */
  width: 100%;
  margin:10px;
  max-width: 100%;
}

.cardInstance {
  width: 100%;
  margin:10px;
  max-width: 100%;
}

mat-radio-button {
  margin: 0 12px;
}

mat-select {
  border-bottom: 1px solid silver;
  width: 100%;
}

input {
  border: 0px;
  border-bottom: 1px solid silver;
}

.saveText{
  color: darkGreen;
  font-style: italic;
  margin: 12px;
}

.tile{
  width: 100%;
}
