button{
  border-radius: 5px;
}

mat-grid-tile {
  /* background: lightblue; */
  /* overflow:hidden; */
  margin-bottom: 5px;
  height: 100%;
}

textArea {
  border: 1px solid silver;
}

.drawerToggle:active {
  /* margin: auto;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  background-color: coral;
  color: white; */
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 2s infinite;
}

@-webkit-keyframes mymove {
  50% {-webkit-transform: rotate(180deg);}
}

/* Standard syntax */
@keyframes mymove {
  50% {transform: rotate(180deg);}
}